$primary800: #56145e;
$primary500: #6f1b79;
$primary400: #90239d;
$primary300: #c028d3;

$secondary600: #9c0a5d;
$secondary500: #d02e6e;
$secondary400: #fd5d9c;

$neutrals900: #000000;
$neutrals800: #191A1A;
$neutrals700: #393A3A;
$neutrals600: #575959;
$neutrals200: #F4F4F4;
$neutrals100: #FFFFFF;

$error: #d93700;
$success: #477F42;

$transparente: transparent;